.body {
  margin: 0;
  overflow-x: hidden;
}

.game-display-section {
  width: 100%;
  padding: 2.5rem 6rem  0rem 6rem;
  background: #FCFCFC;

    /* background: linear-gradient(0deg, rgba(252, 252, 252, 1) 0%, rgba(239, 236, 230, 1) 100%); */
}

.ux-display-section {
  width: 100%;
  padding: 10vw 6rem  6vw 6rem;
    background: #FCFCFC;
}

@media (max-width: 768px) {
.game-display-section {
  padding: 2.5rem 3rem  0rem 3rem;
}

.ux-display-section {
  padding: 10vw 3rem  6vw 3rem;
}
}

.scroll-wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  gap: 0;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  border-radius: calc(0.3rem + 0.3vw);
}

.scroll-wrapper::-webkit-scrollbar {
  display: none;
}
.portfolio-item {
  flex: 1 1 20%; 
  height: 400px;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

/*Display Hover*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.project-name {
  color: #fcfcfc;
  font-family: 'Manrope', sans-serif;
  text-align: center;
  line-height: 250%;
  font-size: 1.2rem;
  font-weight: 500;
  transform: translateY(20px); 
  transition: transform 0.3s ease;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;
}

h3 {
   display: flex;
   justify-content: center;
   padding-top: 1rem; 
}

h3 a {
    text-decoration: none;
    color: #6A6A6A;      
    font-family: 'Manrope', sans-serif;
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 500;
}

h3 a:hover {
    color: #111111;
    font-weight: 500;
}

/* Display Hover Effects */
.portfolio-item:hover {
  flex: 1 1 30%;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

.portfolio-item:hover .project-name {
  transform: translateY(0);
}

@media (min-width: 1024px) {
  .portfolio-item:hover {
    flex: 2 1 30%; 
  }
}

@media (max-width: 768px) {
  .portfolio-item {
    height: 180px;
    flex: 1 1 20%; 
  }
  .project-name {
    font-size: 0.55rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-wrap: wrap;  
    text-align: center;
  }
  .portfolio-item:hover {
    flex: 1 1 21%; 
  }
}