.glass-lens {
    position: fixed;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;

    -webkit-mask-image: radial-gradient(circle,
        transparent 0%,
        transparent 15%,
        rgb(255, 255, 255) 45%,
        rgb(255, 255, 255) 65%,
        transparent 0%,
        transparent 0%
    );
    mask-image: radial-gradient(circle,
        transparent 0%,
        transparent 15%,
        rgb(255, 255, 255) 45%,
        rgb(255, 255, 255) 65%,
        transparent 0%,
        transparent 0%
    );

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    transform: translate(-50%, -50%) scale(1.2);
    will-change: left, top;
    background-color: rgba(255, 255, 255, 0.001); 
}

@media (max-width: 768px) {
    .glass-lens {
        display: none !important;
    }
}