.game {
    width: 100%;
    aspect-ratio: 16 / 7;
    background-color: #FCFCFC;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;

    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    overflow: hidden; 
}

.game:not(.is-locked):hover .img-gradient-wrapper {
    transform: scale(1.005); 
    filter: brightness(1.001); 
}

.game.is-locked {
    cursor: default !important;
    background-color: #FCFCFC !important;
}

.game.is-locked:hover .img-gradient-wrapper,
.game.is-locked .img-gradient-wrapper {
    transform: none !important;
    filter: none !important;
    transition: none !important; 
}

.img-gradient-wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FCFCFC 0%, #EFECE6 100%);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.face-stack {
    position: relative;
    z-index: 10;
    width: 85%; 
    max-width: 1100px;
    display: flex;
    justify-content: center;
}


.face-stack img {
    width: 100%;
    height: auto;
    object-fit: contain;
    pointer-events: none;
    -webkit-user-drag: none;
}


#overlay-5, #overlay-10 {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease, transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.5);
    transform-origin: center center;
    
}

#overlay-5 { z-index: 10; }
#overlay-10 { z-index: 11; }


@media (max-width: 768px) {
    .game {
        aspect-ratio: 16 / 6; 
    }

    .img-gradient-wrapper {
        padding: 0 15%; 
    }

    .face-stack {
        width: 100%; 
    }
}

.hidden-overlay { opacity: 0; visibility: hidden; }
.show-overlay { opacity: 1; visibility: visible; }

.game.is-locked {
    cursor: default;
    transform: none !important; 
    background-color: #FCFCFC !important; 
}

/*Quote*/
.quote {
    padding-top: 10%;     
    padding-bottom: 10%;  
    padding-left: 20px;
    padding-right: 20px;
    background: #EFECE6;
    background: linear-gradient(0deg, rgba(252, 252, 252, 1) 0%, rgba(239, 236, 230, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-size: 0.6rem;  
    line-height: 1.8;   
    color: #6A6A6A;
    text-align: center;
    transition: background 1.5s ease-in-out;
}


@media (min-width: 1024px) {
    .quote {
        padding-top: 6%;      
        padding-bottom: 8%;   
        font-size: 1.2rem;  
    }
}

.img-gradient-wrapper, .quote {
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-top: -0.1rem;
}

@keyframes text-breath {
    0%, 100% { 
        opacity: 1; 
        filter: blur(0px);
    }
    50% { 
        opacity: 0.7; 
        filter: blur(0.3px); 
    }
}

.quote p {
    animation: text-breath 7s ease-in-out infinite;
    will-change: opacity; 
}

/* Background Layers */
.bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
}

.show-bg { 
    opacity: 1 !important; 
}
.game-bg-lvl-1 { background: linear-gradient(180deg, #FCFCFC 0%, #fdebe3 100%); }
.quote-bg-lvl-1 { background: linear-gradient(0deg, #FCFCFC 0%, #fdebe3 100%); }

.game-bg-lvl-2 { background: linear-gradient(180deg, #FCFCFC 0%, #f9dfba 100%); }
.quote-bg-lvl-2 { background: linear-gradient(0deg, #FCFCFC 0%, #f9dfba 100%); }

.game-bg-lvl-cry { background: linear-gradient(180deg, #FCFCFC 0%, #ccd1d3 100%); }
.quote-bg-lvl-cry { background: linear-gradient(0deg, #FCFCFC 0%, #ccd1d3 100%); }