*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
    width: 100%;
    /* min-width: 100vw; */
    margin: 0;
    padding: 0;
    background-color: #FCFCFC;
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

header {
    position: sticky; /* 或 fixed */
    top: 0;
    z-index: 1000; /* 確保大於背景的 0 */
}

footer {
    position: relative;
    z-index: 10;
}